.btn-oauth {
    cursor: pointer;
}
.btn-right {
    float: right;
}

.naver-over {
    background-color: #03C75A;
    background-color: rgba(3,199,90,0.3);
}

.size-40 {
    width: 46px;
    height: 46px;
    padding: 3px;
}

.img-size-big {
    width: 200px;
    height: 200px;
}

.img-size-middle {
    width: 100px;
    height: 100px;
}

.chat-content {
    height: 350px;
    overflow-y: scroll;
}

.line {
    margin-top: 10px;
    display: flex;
}

.chat-box {
    background: #eee;
    padding: 5px;
    max-width: 200px;
}

.mine {
    margin-left: auto;
}