.btn-oauth {
    cursor: pointer;
}
.btn-right {
    float: right;
}

.naver-over {
    background-color: #03C75A;
    background-color: rgba(3,199,90,0.3);
}

.size-40 {
    width: 46px;
    height: 46px;
    padding: 3px;
}

.img-size-big {
    width: 556px;
    height: 190px;
}

.img-size-middle {
    width: 300px;
    height: 100px;
}