{{>layout/header}}
<!--<span>{{test}}</span>-->
<div class="col-md-12">
    <div class="row">
        <div class="col-md-9">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
            <a href="/openai" role="button" class="btn btn-primary">ai와 대화해보기</a>
        </div>
        <div class="col-md-3">
            {{#name}}
                Logged in as: <span id="user">{{name}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/name}}
            {{^name}}
                <img src="/images/google/btn_google_dark_normal_ios.svg" class="btn-oauth" id="btn-google"
                     alt="이미지를 준비중입니다.">
                <img src="/images/naver/btnW_iconS.png" class="btn-oauth size-40" id="btn-naver" alt="이미지를 준비중입니다.">
            {{/name}}
            <span id="version">ver.2</span>
        </div>
    </div>
    <div class="col-md-6">

        <!-- 목록 출력 영역 -->
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>게시글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>최종수정일</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#posts}}
                <tr>
                    <td>{{id}}</td>
                    {{#authority}}
                        <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                    {{/authority}}
                    {{^authority}}
                        <td><a href="/posts/read/{{id}}">{{title}}</a></td>
                    {{/authority}}
                    <td>{{author}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
            {{/posts}}
            </tbody>
        </table>
    </div>
    <a href="/skills/read" role="button" class="btn btn-info" id="btn-skills" > <!--style="display: none"-->
    <i class="bi bi-tools"></i> Skills 보러가기
    </a>
</div>

{{>layout/footer}}