{{>layout/header}}

<div class="chat-content">
    <div class="line">
        <span class="chat-box">안녕?</span>
    </div>
    <div class="line">
        <span class="chat-box mine">안녕!</span>
    </div>
</div>
<input class="chat-box" id="input">
<button id="send" datatype="{{KEY}}">전송</button>

{{>layout/footer}}