{{>layout/header}}

<div class="chat-content">
    <div class="line">
        <span class="chat-box">안녕?</span>
    </div>
    <div class="line">
        <span class="chat-box mine">안녕!</span>
    </div>
</div>
<input class="chat-box" id="prompt" name="prompt">
<input type="button" id="btn-send" value="전송">
{{>layout/footer}}