{{>layout/header}}

<div class="chat-content">
</div>
<input class="chat-box" id="prompt" name="prompt">
<input type="button" id="btn-send" value="전송">
<span style="color: #ff0000;" id="warning-text"></span>

{{>layout/footer}}