{{>layout/header}}

<div class="col-md-12">
    <div class="col-md-4">
        <div class="form-group">
            <label for="frontend">Frontend</label>
            <img src="/images/frontend.png" id="img-frontend" class="img-size-middle">
        </div>
        <a href="/" role="button" class="btn btn-secondary">홈</a>
    </div>
</div>
{{>layout/footer}}
