{{>layout/header}}

<div class="col-md-12">
    <div class="form-group">
        <div class="row">
            <div class="col-md-1">
                <label for="frontend">Frontend</label>
            </div>
            <img src="https://cdn.cdnlogo.com/logos/h/80/html-5.svg" class="img-size-middle" alt="이미지를 표시할 수 없습니다.">
            <img src="https://cdn.cdnlogo.com/logos/c/59/css-3.svg" class="img-size-middle" alt="이미지를 표시할 수 없습니다.">
            <img src="https://cdn.cdnlogo.com/logos/j/71/jquery.svg" class="img-size-middle" alt="이미지를 표시할 수 없습니다.">
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-1">
                <label for="backend">Backend</label>
            </div>
            <img src="https://cdn.cdnlogo.com/logos/j/8/java.svg" class="img-size-middle" alt="이미지를 표시할 수 없습니다.">
            <img src="https://cdn.cdnlogo.com/logos/s/25/spring.svg" class="img-size-middle" alt="이미지를 표시할 수 없습니다.">
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-1">
                <label for="aws">AWS</label>
            </div>
            <img src="https://cdn.cdnlogo.com/logos/a/99/aws-ec2.svg" class="img-size-middle" alt="이미지를 표시할 수 없습니다.">
            <img src="https://cdn.cdnlogo.com/logos/a/86/aws-rds.svg" class="img-size-middle" alt="이미지를 표시할 수 없습니다.">
            <img src="https://cdn.cdnlogo.com/logos/a/59/aws-s3.svg" class="img-size-middle" alt="이미지를 표시할 수 없습니다.">
            <img src="https://cdn.cdnlogo.com/logos/a/30/aws-iam.svg" class="img-size-middle" alt="이미지를 표시할 수 없습니다.">
            <img src="https://cdn.cdnlogo.com/logos/a/30/aws-codedeploy.svg" class="img-size-middle"
                 alt="이미지를 표시할 수 없습니다.">
        </div>
    </div>
    <a href="/" role="button" class="btn btn-secondary">홈</a>
</div>
{{>layout/footer}}
