{{>layout/header}}

<div class="col-md-12">
    <div class="col-md-4">
        <div class="form-group">
            <label for="frontend">Frontend</label>
            <a href="https://cdnlogo.com/logo/html-5_8516.html"><img src="https://cdn.cdnlogo.com/logos/h/90/html-5.svg" class="img-size-middle"></a>
            <a href="https://cdnlogo.com/logo/css_36679.html"><img src="https://cdn.cdnlogo.com/logos/c/18/css.svg" class="img-size-middle"></a>
            <a href="https://cdnlogo.com/logo/jquery_40302.html"><img src="https://cdn.cdnlogo.com/logos/j/71/jquery.svg" class="img-size-middle"></a>
        </div>
        <div class="form-group">
            <label for="backend">Backend</label>
            <a href="https://cdnlogo.com/logo/java_23059.html"><img src="https://cdn.cdnlogo.com/logos/j/8/java.svg" class="img-size-middle"></a>
        </div>
        <a href="/" role="button" class="btn btn-secondary">홈</a>
    </div>
</div>
{{>layout/footer}}
